* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  --light-grey: #f5f5f5;
  --medium-grey: #323232;
  --dark-grey: #2f2f2f;
}
.body {
  height: 100dvh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.page {
  position: relative;
  height: 100dvh;
  width: 100%;
}
.container {
  position: absolute;
  z-index: 1;

  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  // prettier-ignore
  grid-template-areas: "nav     aside" 
                       "section aside" 
                       "footer  aside";
}

.navbar{
grid-area: nav;
display: flex;

&__content {
  display: flex;
  align-items: center;
  width:100%;
  padding:0 0 0 80px;
  gap: 10px;

  animation:2s navbar 0.5s ease-in-out;

}
@keyframes navbar {
  0%{
    transform: translateY(-200px);

  }
  100%{
    transform: translateY(0px);
    
  }
  
}
&__image {
  width: 50px;
}
&__list{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width:500px;
  
}
&__link{
  color: var(--medium-grey);
  font-weight: 500;
  text-decoration: none;
   letter-spacing: 0.3px;
  
}

}

.main-content {
  display: flex;
  grid-area: section;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;

  animation: 2s main-content 0.5s ease-in-out;

  &__intro{
    font-size:38px;
    font-weight: 400;
    margin:0 0 -14px 40px;
  }
    &__description{
    font-size:36px;
    font-weight: 100;
     margin:0;
     width:60%;
  }
  &__title{
    font-size:50px;
    font-weight: 900;
     margin:0 0 28px 0;

  }
}
@keyframes main-content {
  0% {
    transform: translateY(-600px);
  }
   100% {
    transform: translateY(0px);
  }
  
}
.side-content{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  grid-area:aside;

  &__text{
    transform: rotate(-90deg);
    font-size: 36px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    opacity: 0;

    animation-name: side-content-text;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  &__img{
    width: 100%;
    grid-column: 2/6;
    grid-row: 1/2;

    animation: 2s side-content-img 0.5s ease-in-out;
  }
  &__background {
    background: var(--medium-grey);
    grid-column: 4/7;
    grid-row: 1/2;
    height: 100%;
  }
}

@keyframes side-content-img {
  0%{
    transform: translateX(600px);
  }
   100%{
    transform: translateX(0px);
  }
  
}
@keyframes side-content-text {
  0%{
    opacity: 0;
  }
  100%{
    opacity:1;
  }

  
}
.loader {
  background: pink;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;

  animation: loader 2s linear forwards;
}

.loader div {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}
@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader div {
  background: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);

  animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}
.loader div:nth-child(2) {
  animation-delay: 0.4s;
}
.loader div:nth-child(3) {
  animation-delay: 0.6s;
}
@keyframes scaling {
  0% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}
